* {
    box-sizing: border-box;
}

form {
    background-color: rgb(140, 190, 248);
    width: 500px;
    padding: 10px; 
    height: 500px;  
}

input, label, select {
    float: left;
}

label {
    width: 150px;
    float: left;
    clear: both;
    text-align: right;
    padding-right: 10px;
}

#order {
    width: 100px;
}


