* {
    box-sizing: border-box;
}

td:hover {
    background-color: rgb(132, 214, 132);
}

#free {
    background-color: rgb(81, 81, 196);
}

td {
    width: 4em;
    height: 4em;
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-size: 20pt;
}
