* {
    box-sizing: border-box;
}
td {
    width: 7em;
    height: 2em;
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-size: 18pt;
}