* {
    box-sizing: border-box;
}

.full {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    background-color: rgb(240, 240, 135);
}

#veggie1 {
    background-image: url("veggie1.jpg");
    background-repeat: no-repeat no-repeat;  
}

h1 {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 10px;
}

#text {
    margin: auto;
    width: 50%;
    font-family: 'Nanum Gothic', sans-serif;
    color: grey;
    padding-bottom: 10px;
}

#pictures { 
    background-color: pink;
}

h2 {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 10px;
}

.pictures {
    padding: 25px;
    display: inline-block;
}

#yo {
    margin-left: 25%;
}

#dear {
    background-color: rgb(240, 240, 135);
}

#float {
    font-family: 'Nanum Gothic', sans-serif;
    color: pink;
    padding: 15px;
    font-size: 40px;
}